* text=auto
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.so binary
*.xlsx binary
*.brd binary
*.sip binary
*.mcm binary
*.a3dcomp binary
*.jpg binary
*.png binary
**/edb.def* binary
