* text=auto
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.so binary
*.pyd binary
*.exe binary
*.bat -text whitespace=cr-at-eol
LICENSE text eol=lf
CORE_SHA256SUMS text eol=lf
SHA256SUMS text eol=lf
cds_env text eol=lf
serdes_windows/input/** -text
*.xlsx binary
*.brd binary
*.sip binary
*.mcm binary
*.a3dcomp binary
*.jpg binary
*.png binary
**/edb.def* binary
